<!DOCTYPE html>
<head>
  <title>Duplicode AI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='logo.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='logo.png') }}" class="image" />
  <h3>Duplicode AI</h3>
  <form action="/" method="post">
    <textarea type="text" name="statement" placeholder="Problem statement" required></textarea>
    <textarea type="text" name="editorial" placeholder="Editorial" required></textarea>
    <textarea type="text" name="tags" placeholder="Tags, separated by commas" required></textarea>
    <textarea type="text" name="difficulty" placeholder="Estimated difficulty" required></textarea>
    <input type="submit" value="Find similar problems" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
